* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  padding: 2rem 0;
}

/* Task 1: Box Model */
.border,
.padding,
.content {
  margin: auto;
}

.margin {
  margin: 0 auto 2rem auto;
  width: 40rem;
  height: 17rem;
  text-align: center;
  border: 1px dashed #afafaf;
  background: #eeeeee;
}

.border {
  width: 35rem;
  height: 13rem;
  background: #80f180;
}

.padding {
  width: 30rem;
  height: 8.5rem;
  background: #eeeeee;
}

.content {
  width: 26rem;
  height: 4.5rem;
  border: 1px dashed #afafaf;
  background: #fff;
}

span {
  display: block;
  padding: 0.5rem;
}

/* Task 2 */
#header,
.footer {
  height: 100px;
}

.entity {
  height: 50px;
  background: yellow;
}

#hero {
  height: 200px;
}

.block1:hover {
  background: black;
}

.block2:hover,
.block3:hover {
  background: green;
}

/* Task 3: lemon */
/* first lemon */
.lemon {
  position: relative;
  margin: 5rem auto;
  width: 12.5rem;
  height: 9.4rem;
  border-radius: 55% 10% 55% 10%;
  background: yellow;
}

.light {
  position: absolute;
  top: 25px;
  left: 40px;
  width: 2.5rem;
  height: 1.2rem;
  border-radius: 50%;
  background: #ffffffb9;
}

/* second lemon */
.lemon2 {
  position: relative;
  margin: 5rem auto;
  width: 12.5rem;
  height: 9.4rem;
  border-radius: 50%;
  background: yellow;
}

.lemon-part {
  position: absolute;
  top: 47px;
  left: -20px;
  width: 15rem;
  height: 3.1rem;
  border-radius: 40%;
  background: #f5f500;
  z-index: -1;
}

/* Task 4: Learn CSS block */
.learn-css-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  background: #3c64c2;
}

.learn-css-block h1 {
  margin-bottom: 3rem;
  font-size: 4rem;
  color: #fcfcfe;
}

.btn-start {
  width: 10rem;
  height: 3.5rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  background: #ffd500;
  transition: box-shadow 0.5s;
}

.btn-start:hover,
.btn-start:focus {
  box-shadow: 0px 1px 18px -1px rgba(0, 0, 0, 0.93);
}

/* Task 5 */
.form {
  width: 20rem;
  margin: 3rem auto;
  color: #393146;
}

.form h3 {
  font-size: 1.5rem;
}

.form label {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.form input {
  padding: 0.7rem;
  margin-top: 0.7rem;
  font-size: 1rem;
  border: 1px solid #e6e5e8;
  outline: none;
  transition: border 0.3s;
}

.form input:hover,
.form input:focus {
  border: 1px solid #a7c1fc;
}

.btn-submit {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.7rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  background: #6400e4;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.btn-submit:hover,
.btn-submit:focus {
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.93);
}
